.inner {
  box-sizing: border-box;
  border: 4px solid #000000;
  background: #ffffff;
  height: 0;
  position: relative;
}

.inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
