<div #barnElement class="inner" [ngStyle]="{ 'padding-top.%': aspectRatio * 100 }">
  <div class="inside" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)">
    <ng-template appElementsHost></ng-template>
  </div>
</div>
