<div
  class="rectangle"
  [ngStyle]="{ width: px(width), height: px(height) }"
  [style.background]="probabilityColor"
  cdkDrag
  cdkDragBoundary=".inner"
>
  <span *ngIf="data?.number" class="number">{{ data.number }}</span>
  <div *ngIf="probability" class="probability">{{ probability * 100 }}%</div>
</div>
