@import 'colours';
@import 'typography';

.rectangle {
  border: 2px solid #000;
  position: absolute;
  display: flex;
}

.probability {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.number {
  position: relative;
  top: 5px;
  left: 5px;
  @include text-setting('sm');
  @include text-type('body-bold');
}
