@import 'colours';
@import 'typography';

:host {
  display: flex;
  flex: 1;
}

.barns {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 15px 15px;
  justify-items: stretch;
  align-items: stretch;
  width: 100%;
  max-width: 1200px;
}

mat-card {
  border: 2px solid theme-color('primary', 'base');
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    border: 2px solid theme-color('primary', 'light');
    transform: scale(1.05);
  }
}

mat-card-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  @include text-type('heading-bold');
  @include text-setting('xl');
}
