<div class="barns">
  <div class="grid">
    <mat-card *ngFor="let barn of (barns$ | async)" [routerLink]="['/manager/', farmId, barn.id]">
      <mat-card-content>
        <span>{{ barn.number }}</span>
        <span>{{ barn.name.toLocaleUpperCase() }}</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
