<div class="farms">
  <mat-action-list class="grid">
    <button
      mat-raised-button
      *ngFor="let farm of (farms$ | async)"
      [routerLink]="['/manager/', farm.id]"
    >
      {{ farm.name }}
    </button>
  </mat-action-list>
</div>
