:host,
.farms {
  display: flex;
  flex: 1;
}

.farms {
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 200px));
  grid-template-rows: auto;
  justify-content: center;
  grid-gap: 15px 15px;
  width: 80%;
}
