@import 'typography';

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

span {
  @include text-type('heading-bold');
}
