@import '~@angular/material/theming';
@import 'colours';
@import 'typography';
// Plus imports for other components in your app.

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$mat-darkred: (
  50: #f5e7ea,
  100: #e7c4c9,
  200: #c98c8e,
  300: #b16265,
  400: theme-color('primary', 'light'),
  500: #b1322f,
  600: #a42b2d,
  700: theme-color('primary', 'base'),
  800: #861f22,
  900: theme-color('primary', 'dark'),
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: contrast('dark', 'primary'),
    500: white,
    600: white,
    700: contrast('dark', 'primary'),
    800: white,
    900: contrast('dark', 'primary')
  )
);

$mat-xd: (
  50: #f5e7ea,
  100: #e7c4c9,
  200: #c98c8e,
  300: #b16265,
  400: theme-color('accent', 'light'),
  500: #b1322f,
  600: #a42b2d,
  700: theme-color('accent', 'base'),
  800: #861f22,
  900: theme-color('accent', 'dark'),
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: contrast('dark', 'primary'),
    500: white,
    600: white,
    700: contrast('dark', 'primary'),
    800: white,
    900: contrast('dark', 'primary')
  )
);

$horde-primary: mat-palette($mat-darkred, 700, 400, 900);
$horde-accent: mat-palette($mat-xd, 700, 400, 900);

// The warn palette is optional (defaults to red).
$horde-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$horde-theme: mat-light-theme($horde-primary, $horde-accent, $horde-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($horde-theme);

$barn-io-typography: mat-typography-config(
  $font-family: font-family('heading-bold'),
  $button: mat-typography-level(14px, 14px, 700)
);

.mat-drawer-container {
  background: none;
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($barn-io-typography);
