$theme-colors: (
  'primary': (
    'base': #0ebb47,
    'light': #4bff3b,
    'dark': #0b8100
  ),
  'accent': (
    'base': #151c26,
    'light': #3c434e,
    'dark': #212121
  ),
  'foreground': (
    'base': #151c26,
    'light': #6e6e6e,
    'dark': #111
  ),
  'background': (
    'base': #f8f5f5,
    'light': #fff,
    'dark': #ddd
  )
);

@function theme-color($key: 'primary', $variant: 'base') {
  $map: map-get($theme-colors, $key);
  @return map-get($map, $variant);
}

$contrast-colors: (
  'dark': (
    'primary': rgb(255, 255, 255),
    'secondary': rgba(255, 255, 255, 0.7),
    'disabled': rgba(255, 255, 255, 0.5),
    'hint': rgba(255, 255, 255, 0.12)
  ),
  'light': (
    'primary': rgba(0, 0, 0, 0.87),
    'secondary': rgba(0, 0, 0, 0.54),
    'disabled': rgba(0, 0, 0, 0.38),
    'hint': rgba(0, 0, 0, 0.12)
  )
);

@function contrast($background: 'light', $type: 'primary') {
  $map: map-get($contrast-colors, $background);
  @return map-get($map, $type);
}

@mixin contrast($background: 'light', $type: 'primary') {
  color: contrast($background, $type);
}
