@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('/assets/fonts/Montserrat-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('/assets/fonts/Lato-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('/assets/fonts/Lato-Regular-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('/assets/fonts/Lato-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('/assets/fonts/Lato-Bold-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('/assets/fonts/OpenSans-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('/assets/fonts/OpenSans-SemiBold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$base-font-size: 1rem;
$base-line-height: 1.25 * $base-font-size;

$text-settings: (
  'xs': (
    font-size: 0.75rem,
    // 12px
      line-height: $base-line-height
  ),
  'sm': (
    font-size: 0.875rem,
    // 14px
      line-height: $base-line-height
  ),
  'base': (
    font-size: 1rem,
    // 16px
      line-height: $base-line-height
  ),
  'md': (
    font-size: 1.125rem,
    // 18px
      line-height: $base-line-height * 2
  ),
  'lg': (
    font-size: 1.25rem,
    // 20px
      line-height: $base-line-height * 2
  ),
  'xl': (
    font-size: 1.5rem,
    // 24px
      line-height: $base-line-height * 2
  ),
  'xxl': (
    font-size: 1.625rem,
    // 24px
      line-height: $base-line-height * 2
  ),
  'big': (
    font-size: 2.25rem,
    // 24px
      line-height: $base-line-height * 3
  )
);

@function text-scale($level) {
  @return map-get(map-get($text-settings, $level), 'font-size');
}

@function line-height($level) {
  @return map-get(map-get($text-settings, $level), 'line-height');
}

@mixin text-setting($level) {
  font-size: text-scale($level);
  line-height: line-height($level);
}

$text-types: (
  'headline': (
    font-family: #{Montserrat,
    sans-serif},
    font-weight: 700
  ),
  'heading': (
    font-family: #{Lato,
    sans-serif},
    font-weight: 400
  ),
  'heading-bold': (
    font-family: #{Lato,
    sans-serif},
    font-weight: 700
  ),
  'body': (
    font-family: #{'Open Sans',
    sans-serif},
    font-weight: 400
  ),
  'body-bold': (
    font-family: #{'Open Sans',
    sans-serif},
    font-weight: 600
  )
);
@function font-family($type) {
  @return map-get(map-get($text-types, $type), 'font-family');
}
@function font-weight($type) {
  @return map-get(map-get($text-types, $type), 'font-weight');
}
@mixin text-type($type) {
  font-family: font-family($type);
  font-weight: font-weight($type);
}
