/* You can add global styles to this file, and also import other style files */
@import 'reset';
@import 'typography';
@import 'colours';
@import 'barn-io-theme';

body {
  display: flex;
  height: 100%;
  min-height: 100vh;
}

html,
body,
p {
  @include text-type('body');
  @include text-setting('base');
}
h1,
h2 {
  @include text-type('heading-bold');
}
h3,
h4 {
  @include text-type('heading');
}
h1 {
  @include text-setting('xxl');
}
h2 {
  @include text-setting('xl');
}
h3 {
  @include text-setting('lg');
}
h4 {
  @include text-setting('md');
}
