<div class="container">
  <div class="title">
    <span>LOKALIZUJ</span>
    <mat-icon>search</mat-icon>
  </div>
  <div class="selection">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field>
        <mat-select
          placeholder="Wybierz krowę z listy"
          formControlName="cowNumber"
          [value]="form.get('cowNumber').value"
          required
        >
          <mat-option *ngFor="let cow of (cows$ | async)" value="{{ cow.number }}">
            {{ cow.number }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          formControlName="cowNumber"
          matInput
          placeholder="lub wpisz jej numer ręcznie"
          [value]="form.get('cowNumber').value"
          required
        />
      </mat-form-field>
      <button type="submit" mat-mini-fab><mat-icon>done</mat-icon></button>
    </form>
    <div
      class="error-message"
      *ngIf="form.get('cowNumber').errors && form.get('cowNumber').touched"
    >
      <span>{{ getErrorMessage() }}</span>
    </div>
  </div>
</div>
