@import 'colours';
@import 'typography';
@import 'media_queries';

:host {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: auto;
  grid-template-areas: 'title selection';
  width: 90%;
  height: 80%;
  background-color: #3b3b3b;
  @include contrast('light', 'primary');
  @include text-setting('md');
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: title;
  border-right: 3px solid #fff;
  @include contrast('dark', 'primary');
  @include text-type('heading-bold');
  @include text-setting('xxl');

  span {
    @include respond-below('sm') {
      display: none;
    }
  }

  mat-icon {
    padding-left: 10px;

    @include respond-below('sm') {
      padding: 0;
    }
  }
}

.selection {
  padding: 0 30px;
  grid-area: selection;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include text-type('body');
  @include text-setting('md');

  @include respond-below('sm') {
    flex-direction: column;
    @include text-setting('md');
  }

  @include respond-below('xs') {
    @include text-setting('sm');
  }
}

.error-message {
  span {
    color: #f44336;
    @include text-setting('sm');
  }
}

form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  @include respond-below('sm') {
    flex-direction: column;
  }
}

mat-form-field {
  padding: 10px 10px 0 10px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 10px;

  &::last-of-type {
    margin-right: 0px;
  }

  @include respond-below('sm') {
    margin-bottom: 10px;

    &::last-of-type {
      margin-bottom: 0px;
    }
  }
}
