<mat-sidenav-container class="main" autosize>
  <mat-sidenav #drawer class="padding">
    <h3>OBORY</h3>
    <mat-action-list>
      <button mat-list-item routerLink="../{{ barn.id }}" *ngFor="let barn of (barns$ | async)">
        {{ barn.number }} | {{ barn.name }}
      </button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content class="drawer">
    <ng-container *ngIf="(barn$ | async) as barn">
      <div class="topbar">
        <mat-toolbar>Obora {{ barn.number }} | {{ barn.name }}</mat-toolbar>
        <app-toolbar></app-toolbar>
      </div>
      <div class="filler"></div>
      <div class="content">
        <app-barn #barnComponent [barn]="barn" (click)="onClick()"></app-barn>
      </div>
      <div class="filler"></div>
      <mat-toolbar class="actions">
        <button mat-button (click)="drawer.toggle()">PRZEGLĄDAJ</button>
        <button mat-button (click)="onSaveClick()">ZAPISZ</button>
        <button mat-button (click)="onResetClick()">RESETUJ</button>
      </mat-toolbar>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
