@import 'colours';
@import 'typography';

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

mat-sidenav-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

app-barn {
  display: flex;
  flex: 1;
  flex-direction: column;
}

app-toolbar {
  display: flex;
}

h3 {
  text-align: center;
}

.topbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.filler {
  display: flex;
  flex: 1;
}

.padding {
  padding: 0 30px;
}

mat-toolbar {
  height: 30px;
  background-color: #3b3b3b;
  justify-content: center;
  @include contrast('dark', 'primary');
  @include text-setting('md');

  &.actions {
    padding: 30px 0;
  }
}
