@import 'colours';
@import 'typography';

.options {
  display: flex;
  align-items: center;
  justify-content: center;
}

app-tool {
  display: flex;
  margin-right: 20px;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0px;
  }
}

mat-toolbar {
  background-color: #3b3b3b;
  border-radius: 0 0 10px 10px;
  user-select: none;
  justify-content: center;
  align-items: center;
  width: auto;
  @include contrast('dark', 'primary');
  @include text-setting('md');
}
