<mat-toolbar>
  <div class="options">
    <app-tool
      *ngFor="let a of (tools$ | async)"
      [tool]="a"
      (click)="onToolClicked(a)"
      class="option"
    ></app-tool>
  </div>
</mat-toolbar>
