.holder {
  position: relative;
  height: 0;
  width: 0;
}

mat-icon {
  position: relative;
  right: 15px;
  top: 15px;
  color: #ffffff;
  background: #000000;
  border-radius: 30px;
  transform: scale(0.5);
  user-select: none;
}

svg-icon {
  width: 30px;
  height: 30px;
}
