<svg-icon *ngIf="tool" [@onHover]="hoverState" src="assets/icons/{{tool.iconName}}.svg" [stretch]="true" [svgStyle]="{ 'width.px':30, 'color': tool.color }"></svg-icon>
<div class="holder">
  <mat-icon>add</mat-icon>
</div>
