<h1 mat-dialog-title>Wallpoint</h1>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <input formControlName="mac" type="text" matInput placeholder="MAC" />
    </mat-form-field>
    <mat-form-field>
      <input formControlName="number" type="number" matInput placeholder="Numer" />
    </mat-form-field>
    <mat-form-field>
      <input formControlName="name" type="text" matInput placeholder="Nazwa" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button (click)="onRemoveClick()">Usuń</button>
  <button mat-button (click)="onOkClick()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
