@import 'colours';
@import 'typography';

mat-form-field {
  width: 100%;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include text-type('body');
  @include text-setting('sm');

  span {
    text-align: center;
  }
}
