<h1 mat-dialog-title>Sektor</h1>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <input formControlName="number" type="number" matInput placeholder="Numer" />
    </mat-form-field>
  </form>
  <div *ngIf="data.feedback" class="feedback">
    <span>
      Kliknij "Wybierz", aby wskazać wybrany sektor jako położenie krowy zgodne z rzeczywistością
    </span>
    <button mat-button (click)="onNoClick()">Wybierz</button>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button (click)="onRemoveClick()">Usuń</button>
  <button mat-button (click)="onOkClick()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
