<nav>
  <a mat-raised-button (click)="onFarmSelectNavigate()">Farmy</a>
  <a
    mat-raised-button
    *ngIf="(selectedFarmId$ | async)"
    routerLink="manager/{{ selectedFarmId$ | async }}"
  >
    Obory
  </a>
  <a
    mat-raised-button
    *ngIf="(selectedFarmId$ | async)"
    routerLink="locate/{{ selectedFarmId$ | async }}"
  >
    Lokalizuj
  </a>
</nav>
